#wcon {
    width: 100vw;
   max-height: fit-content;
    padding: 10px;
    border: 1px black solid;
    border-radius: 25px;
 }
 
 .hideElem {
    display: none;
}

ol.horizontal{
    list-style-type: decimal;
    width: 600px;
}

ol.horizontal li{
    float: left;
    width: 200px;
    padding: 2px 0px;
}

#cardHolder {
    max-height: 200px;
}

/* img {
    display: block;
    max-width:100px;
    max-height:100px;
    width: auto;
    height: auto;
  } */