#wcon {
   width: 100vw;
   max-height: fit-content;
   padding: 10px;
}


#wcard {
   background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

#hello {
   padding: 5px;
   text-shadow: pink 2px 2px;
}

#cw {
   padding-top: 5px;
}

