#wcon {
   width: 100vw;
   max-height: fit-content;
   padding: 10px;
}


#hello {
   padding: 5px;
   text-shadow: #8f797b 2px 2px;
}

.myContainer {
   margin: 0 auto;
   
}

#weather {
   font-family: 'Poiret One';
   font-size: xx-large;
   font-weight: bold;
}

#weather2 {
   font-family: 'Poiret One';
   font-size: 20px;
   font-weight: bold;
}

#icon {
   width: 100%;
}