@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Nunito&display=swap');

h1 {
    font-family: 'Bree Serif', serif;
    color: #f0c48a;
}

h3 {
font-family: 'Nunito', sans-serif;
color: #999ca3;
}