.copyright {
    position: fixed;
    margin: 0 auto;
    width: 100vw;
    font-size: 1em;
    font-family: 'Nunito', sans-serif;
    color: rgb(20, 23, 47);
    background-color: rgba(186, 186, 186, 0.9);
    margin-top: 2%;
    left: 0;
    bottom: 0;
  }

  h1 {
    font-family: 'Lobster';
    color: #472629;
    font-size: 4em;
}

h3 {
    font-family: 'Poiret One';
color: #434f57;
font-size: 3em;
font-weight: 600;
}

h4 {
    font-family: 'Poiret One';
    color: #434f57;
    font-size: 2em;
    font-weight: 400;
}

h5 {
    font-family: 'Poiret One';
    color: #434f57;
    font-size: 1.5em;
    font-weight: 300;
}

.hikingImg {
    width: 100vw;
    height: auto;
    position: relative;
}
/* 
font-family: 'Poiret One', ;
font-family: 'Lobster', ;
font-family: 'Galada', ;
font-family: 'Bebas Neue', ; */