@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Nunito&display=swap');

.appbar {
    height: 3%;
}


.hikingImg {
    width: 100vw;
    height: auto;
    position: relative;
}


h1 {
    font-family: 'Lobster';
    color: #472629;
    font-size: 4em;
}

h3 {
    font-family: 'Poiret One';
color: #434f57;
font-size: 3em;
}

h4 {
    font-family: 'Poiret One';
    color: #434f57;
    font-size: 2em;
}

h5 {
    font-family: 'Poiret One';
    color: #434f57;
    font-size: 1.5em;
}

.linkColor {
    font-family: 'Poiret One';
    color: #434f57;
    font-size: 1.5em;
}