
.testFive {
margin: 0 auto;
width: 80%;
font-family: 'Poiret One';
padding-bottom: 2%;
}

.tableHeader > th {
background-color: #472629;
color:white !important;
}


.hideElem {
    display: none;
}



