@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Nunito&display=swap');


.backgroundOne {
    background-image: url("../images/hiking.jpg");
    background-size: 100vw;
    background-position-x: relative;
}

.test1 {
 margin: 0 auto;
 width: 40%;
 background-color: rgba(205, 206, 209, 0.9);
}

h3 {
    margin-top: 2%;
}

