@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Nunito&display=swap');


body {
    background-image: url("../images/hiking.jpg");
    background-size: 100vw;
    background-position-x: relative;
}

.container {
 margin: 0 auto;
 width: 80%;
 background-color: rgba(205, 206, 209, 0.8);
}

.tablething {
    margin: 0 auto;
    width: 80%;
    background-color: rgba(205, 206, 209, 0.8);
   }

.tableHeader {
background-color: lightgrey;
}

h1 {
    font-family: 'Bree Serif', serif;
    color: #f0c48a;
    font-size: 4em;
}

h3 {
font-family: 'Nunito', sans-serif;
color: rgb(51, 55, 83);
font-size: 3em;
}

h4 {
    font-family: 'Nunito', sans-serif;
    color: rgb(20, 23, 47);
    font-size: 2em;
}

h5 {
    font-family: 'Nunito', sans-serif;
    color: rgb(20, 23, 47);
    font-size: 1.5em;
}

.hikingImg {
    width: 100vw;
    height: auto;
    position: relative;
}

.copyright {
    margin: 0 auto;
    width: 100vw;
    font-size: 1.5em;
    font-family: 'Nunito', sans-serif;
    color: rgb(20, 23, 47);
    background-color: rgba(186, 186, 186, 0.9);
    margin-top: 2%;
    margin-bottom: 2%;
}

