@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Nunito&display=swap');


.backgroundFour {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/sanfran.jpg");
    background-size: 100vw;
    /* background-position-x: relative; */
    background-size: cover;
    background-position: center;
    height: 200vh;
}
 
.test4 {
 margin: 0 auto;
 width: 80%;
 background-color: rgba(205, 206, 209, 0.6)
}

.topPart {
    margin-top: 3%;
}

.topSec {
    padding-bottom: 3%;
}

.tablething {
    margin: 0 auto;
    width: 80%;
    background-color: rgba(205, 206, 209, 0.6);
    margin-bottom: 3%;
   }

.tableHeader {
background-color: lightgrey;
}

h4 {
    margin-top: 2%;
    font-weight: 700;
}

.alignRight {
    text-align: right;
}

.alignLeft {
    text-align: left;
}

.hello {
    padding: 5px;
    text-shadow: #8f797b 2px 2px;
 }