@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Nunito&display=swap');


.backgroundTwo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/sanfran.jpg");
    background-size: 100vw;
    /* background-position-x: relative; */
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.test2 {
    margin: 0 auto;
    width: 40%;
    background-color: rgba(205, 206, 209, 0.6);
    margin-top: 5%;
    margin-bottom: 5%;
}

.imgbox {
    height: 30px;
        margin: 0 auto;
        padding-top: 2%;
} 

h3 {
    padding-top:2%;
}

.hello {
    padding: 5px;
    text-shadow: #8f797b 2px 2px;
 }